/*FUENTES*/

@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos iniciales*/

body{
    margin: 0px;
    background-color: #BBB;
    color: #444;
}

h1{
    font-size: 1.3em;
    text-align: center;
    color: #464d52;
}

/*PARTE SUPERIOR*/
#superior{
    width: 100%;
    padding: 2% 0px;
    background-color: #464d52;
    overflow: hidden;
}

#encabezado{
    margin: 0px auto;
    width: 80%;
    min-width: 650px;
    max-width: 960px;
}

#descripcion{
    width: 37.5%;
    height: auto;
    background-color: #888;
    float: left;
}

#descripcion p{
    margin: 5%;
    color: white;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

#superior #encabezado #logo{
    margin: 2% 0px;
    width: 21%;
}


#superior div#imgDesc{
    float: left;
  
}

#superior #encabezado #imgDesc img{
    float: left;
    width: 62.5%;
    height: auto;
    display: flex;
  
}

/*Contenido  principal de las paginas*/

#contenido{
    width: 80%;
    margin: 0px auto;
    min-width: 650px;
    max-width: 960px;
    clear: left;
}

/* PIE DE LA PAGINA*/

footer{
    text-align: center;
    margin: 0;
    font-size: 0.9em;
    line-height: 2;
    clear: both;
    background-color: #464d52;
    color: white;
    width: 100%;
}

.plan{
    width: 26.7%;
    padding: 2%;
    background-color: white;
    margin: 30px 1.5%;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
    text-align: justify;
}

.plan img{
    width: 100%;
    height: auto;
}


/*Primerdiv, cuarto div, ...*/

#contenido div:nth-child(3n+1){
    margin-left: 0px;
}

#contenido div:nth-child(3n){
    margin-right: 0px;
}

.boton{
    background-color: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 1s;
}

.boton:hover{
    background: #5077c7;
}

.boton a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
}

/*CONTENIDO DE LA PAGINA PLANES*/

.planes{
    width: 94%;
    background: white;
    padding: 1% 3%;
    margin: auto;
}

.planes img{
    width: 100%;
    border-radius: 15px;
}

.planes h1{
    text-align: left;
    font-size: 1.5em;
}

.planes .precio{
    font-size: 1.1em;
    margin: 20px 0px 5px;
    padding-bottom: 15px;
    border-bottom: solid 2px grey;
    font-weight: bold;
}

/*CONTENIDO DE LA PAGINA GALERIA*/

#galeria .plan p{
    text-align: center;
    font-style: italic;
}

#galeria .plan{
    font-size: 1em;
    margin-bottom: 30px 1.4% 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
    padding-bottom: 1px;
    border: solid 1px black;
    border-radius: 10px;
}